<!DOCTYPE html>
<html lang="en">
  <head>
    
    <%- include ("./partials/head") %>
    
  </head>
  <body>
    <header>
      <%- include ("./partials/header") %>
    </header><div class="msg" id="msg" <% if(typeof msg != 'undefined'){ %> style="background-color: <%= bgcolor %> ;color: <%= color %> ;" <%}%>>
      <% if(typeof msg != 'undefined'){ %>
        
       
            
   <%= msg %>
      <%}%>
      </div>

    <div class="section">
      <h2 class="center">Upload your view count</h2>

      <form id="submit-form" method="POST" action="/<%= ad %> ">
        <h2 for="name">Name</h2>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Name"
          autocomplete="off"
        />

        <h2 for="wanumber">Whatsapp number</h2>
        <input
          type="text"
          id="wanumber"
          name="wanumber"
          placeholder="Whatsapp number"
          autocomplete="off"
        />

        <span class="download" id="download" href="images/poster.jpg" download
          >Download Ad</span
        >

        <h2 for="img">Share your status screenshot</h2>
        <label for="img">Upload your screenshot</label>
        <input
          class="dropzone"
          type="file"
          id="img"
          name="img"
          accept="image/*"
        />
        <h2 id="wait">Waiting to Upload...</h2>

        <div class="url">
          <h2 for="img">Image URL</h2>
          <input
            type="text"
            id="url"
            name="url"
            placeholder="Upload "
            autocomplete="off"
          />
        </div>
        <div class="button">
          <button id="claim-btn" class="btn claim" type="submit">
            <h5>Upload</h5>
          </button>
        </div>
        <div class="error" id="error-message"></div>
        
        <div class="animation-container">
          <div class="animation"></div>
          <p></p>
        </div>
      </form>

      <%- include ("./partials/footer") %>
    </div>

    <script
      type="text/javascript"
      src="https://unpkg.com/axios/dist/axios.min.js"
    ></script>
    <script type="text/javascript" src="imgur.js"></script>
    <script type="text/javascript" src="app-verify.js"></script>

    <script type="text/javascript" src="upload.js"></script>
  </body>
</html>
