<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./partials/head") %>
  </head>
  <body>
    <header>
      <%- include ("./partials/header") %>
    </header>
    <div class="section">
      <h2 class="center"><%= heading %> </h2>

      <h1 class="center"><%= msg %></h1>
      <div style="height:20vh;"></div>
      <div class="animation-container">
        <div class="animation"></div>
        <p></p>
      </div>

      <%- include ("./partials/footer") %>
    </div>
    <script type="text/javascript" src="/imgur.js"></script>
    <script type="text/javascript" src="/app-verify.js"></script>
    <!-- <script type="text/javascript" src="/upload.js"></script> -->
  </body>
</html>
