<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./partials/head") %>
  </head>
  <body>
    <header>
      <%- include ("./partials/header") %>
    </header>
    <div class="section">
      

      <h1 class="center"><%= heading %></h1>

      <%- include ("./partials/track") %>
      
      <div class="spacer"></div>
      <div class="msg-box"><%= msg %></div>
      
      <%- include ("./partials/footer") %>
    </div>
    <script type="text/javascript" src="/imgur.js"></script>
    <script type="text/javascript" src="/app-verify.js"></script>
    <!-- <script type="text/javascript" src="/upload.js"></script> -->
  </body>
</html>
